/* main.css */

/* These are the colors and fonts used throughout the webpage.
 * I've listed them here so that a user may easily
 * do a search-and-replace for these to change the site theme.
 *   'Roboto',sans-serif; Font for the title text
 *   'Roboto-Slab',serif; Font for the body text 
 *   #fafafa; Background color of the site
 *   #505050; Foreground (text) color of the site
 *   #52739e; Navy, "Template" in the logo, current page in navigation, special titles in the Program
 *   #b2132e; Reddish, "Conference" in the logo, hover color for links
 *   #813c54; Heading color, titles in the Program
 *   #b8860b; Dark Goldenrod, color for links
 */

@import url('https://fonts.googleapis.com/css?family=Roboto%7CRoboto+Slab');

    
    *{
    border:0;
    font:inherit;
    font-size:1em;
    margin:0;
    vertical-align:top;
}

    body{
    background-color: #fafafa;
    background-size: cover;
    background-attachment: fixed;
    color: #000000;
    text-align:left;
    font-size:1em;
    line-height:1.5em;
    margin: auto auto;
    width: 1200px;
    margin-bottom: 20px;
}
      /* CSS for the title */
     h1 {
        text-align: center;
        font-size: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;
      }
       h2 {
	
        text-align: left;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
       	font-family: Arial, Helvetica, sans-serif;
      }
      h2 span{
	    border-top: 2px solid black;
		display: #4285f4;

}

      /* CSS for the image */
      img {
       width: 100%;
       height: 100%;

      }
      

      
      /* CSS for the navigation bar */
      nav {
	    left: 0;
	    width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:rgb(91, 30, 0);
        color: #fff;
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
      }
      .container {
	    width: 100%;
  		position: relative;
  		height: 200px; /* Give a specific height to the container element */
  		font-family: Arial, Helvetica, sans-serif;
}

	.left-column, .right-column {
  		top: 10px; /* Position the elements 50px from the top of the container element */
}
      /* CSS for the columns */
      .column {
        width: 45%;
        float: left;
        
      }
      
      /* CSS for the text in the columns */
      .text {
        font-size: 18px;
        color: #333;
        margin-top: 20px;
        margin-right: 100px;
      }
      
      /* CSS for the date in the columns */
      .date {
        font-size: 18px;
        color: #000000;
        font-weight: bold;
        margin-bottom:0;
      }
      .date1 {
	margin-top: 0;
	margin-bottom: 10px;
}
      /* CSS for the date-location div */
    .date-location {
		font-size:2em; 
		color: #fafafa; 
		line-height: 1.5em; 
		width: auto; 
		height: 30px; 
		padding: 0px 27px 27px 0px; 
		text-align: right; 
		position: absolute; 
		bottom: 40px; 
		right: 0px; 
		text-shadow: 0px 0px 6px #000000;
		font-family: Arial, Helvetica, sans-serif;
}
	p {
    	margin-top: 20px; /* adds space before the paragraph */
    	margin-bottom: 20px; /* adds space after the paragraph */
    	
}     

	.bottom-right {
		font-size:2.33em; 
		color: #fafafa; 
		line-height: 1.5em; 
		width: auto; 
		height: 100px; 
		padding: 0px 27px 27px 0px; 
		text-align: right; 
		bottom: 0px; 
		right: 0px; 
		text-shadow: 0px 0px 6px #000000;
}
		
	.banner-container {
  		position: relative;
  		  height: 300px;

}
	.grid-container {
  		display: grid;

  		grid-template-columns: 2.5fr 1fr; /* 3:1 ratio */
}
	.left-column, .right-column {
 		position: relative;
 		margin-bottom: 50px;
}
    
    th {
    font-size: 22px;
} 
    table {
    width: 100%; /* Set the table width to 100% */
    margin-bottom: 20px; /* Add 20px of margin to the bottom of the table */
}
td {
    padding: 10px; /* Add 10px of padding to all sides of the table cells */
}

.committee {
	padding-bottom: 0;
	font-weight: bold;
	
}
.committee1 {
	padding-bottom: 0;
	padding-top: 0;
	
}
.co-chair {
    display: inline-block;
}
.co-chair-data {
    margin-top: 10px;
}

.footer {
	margin-bottom: 50px;
	margin-top: 50px;
	text-align: centre; 
	display: flex; 
	align-items: center; 
	justify-content: center;
}
